In [2]:
import pandas as pd

In [3]:
# Task 1: Choose any Dataset (csv/json) from Kaggle and apply the following:
# - Data Loading / Reading
# - Data Exploration

In [4]:
df = pd.read_csv("top_insta_influencers_data.csv")

In [5]:
df

,rank,channel_info,influence_score,posts,followers,avg_likes,60_day_eng_rate,new_post_avg_like,total_likes,country
0,1,cristiano,92,3.3k,475.8m,8.7m,1.39%,6.5m,29.0b,Spain
1,2,kyliejenner,91,6.9k,366.2m,8.3m,1.62%,5.9m,57.4b,United States
2,3,leomessi,90,0.89k,357.3m,6.8m,1.24%,4.4m,6.0b,NaN
3,4,selenagomez,93,1.8k,342.7m,6.2m,0.97%,3.3m,11.5b,United States
4,5,therock,91,6.8k,334.1m,1.9m,0.20%,665.3k,12.5b,United States
...,...,...,...,...,...,...,...,...,...,...
195,196,iambeckyg,71,2.3k,33.2m,623.8k,1.40%,464.7k,1.4b,United States
196,197,nancyajram,81,3.8k,33.2m,390.4k,0.64%,208.0k,1.5b,France
197,198,luansantana,79,0.77k,33.2m,193.3k,0.26%,82.6k,149.2m,Brazil
198,199,nickjonas,78,2.3k,33.0m,719.6k,1.42%,467.7k,1.7b,United States
199,200,raisa6690,80,4.2k,32.8m,232.2k,0.30%,97.4k,969.1m,Indonesia

In [6]:
df.isnull().sum()

rank                  0
channel_info          0
influence_score       0
posts                 0
followers             0
avg_likes             0
60_day_eng_rate       0
new_post_avg_like     0
total_likes           0
country              62
dtype: int64

In [7]:
df.count()

rank                 200
channel_info         200
influence_score      200
posts                200
followers            200
avg_likes            200
60_day_eng_rate      200
new_post_avg_like    200
total_likes          200
country              138
dtype: int64

In [8]:
most_repeated = df['country'].mode()[0]
df['country'] = df['country'].fillna(most_repeated)
df.head(24)

,rank,channel_info,influence_score,posts,followers,avg_likes,60_day_eng_rate,new_post_avg_like,total_likes,country
0,1,cristiano,92,3.3k,475.8m,8.7m,1.39%,6.5m,29.0b,Spain
1,2,kyliejenner,91,6.9k,366.2m,8.3m,1.62%,5.9m,57.4b,United States
2,3,leomessi,90,0.89k,357.3m,6.8m,1.24%,4.4m,6.0b,United States
3,4,selenagomez,93,1.8k,342.7m,6.2m,0.97%,3.3m,11.5b,United States
4,5,therock,91,6.8k,334.1m,1.9m,0.20%,665.3k,12.5b,United States
5,6,kimkardashian,91,5.6k,329.2m,3.5m,0.88%,2.9m,19.9b,United States
6,7,arianagrande,92,5.0k,327.7m,3.7m,1.20%,3.9m,18.4b,United States
7,8,beyonce,92,2.0k,272.8m,3.6m,0.76%,2.0m,7.4b,United States
8,9,khloekardashian,89,4.1k,268.3m,2.4m,0.35%,926.9k,9.8b,United States
9,10,justinbieber,91,7.4k,254.5m,1.9m,0.59%,1.5m,13.9b,Canada
10,11,kendalljenner,90,0.66k,254.0m,5.5m,2.04%,5.1m,3.7b,United States
11,12,natgeo,91,10.0k,237.0m,302.2k,0.07%,159.3k,3.0b,United States
12,13,nike,90,0.95k,234.1m,329.0k,0.08%,181.8k,313.6m,United States
13,14,taylorswift,91,0.53k,222.2m,2.4m,1.01%,2.3m,1.3b,United States
14,15,jlo,89,3.2k,220.4m,1.7m,0.62%,1.4m,5.3b,United States
15,16,virat.kohli,87,1.4k,211.8m,3.5m,0.96%,2.0m,4.9b,United States
16,17,nickiminaj,90,6.4k,201.6m,2.1m,0.53%,1.0m,13.5b,United States
17,18,kourtneykardash,89,4.4k,195.2m,1.8m,0.67%,1.3m,7.7b,United States
18,19,mileycyrus,89,1.2k,181.5m,1.3m,0.51%,913.6k,1.6b,United States
19,20,neymarjr,90,5.3k,177.1m,2.7m,1.09%,1.9m,14.1b,Brazil
20,21,katyperry,92,2.0k,170.3m,715.0k,0.16%,265.1k,1.5b,United States
21,22,kevinhart4real,88,8.2k,152.0m,522.0k,0.08%,115.2k,4.3b,United States
22,23,zendaya,87,3.5k,150.7m,5.8m,3.17%,4.8m,20.6b,United States
23,24,iamcardib,75,1.6k,140.5m,3.1m,1.10%,1.5m,5.0b,United States

In [9]:
df.isnull().sum()

rank                 0
channel_info         0
influence_score      0
posts                0
followers            0
avg_likes            0
60_day_eng_rate      0
new_post_avg_like    0
total_likes          0
country              0
dtype: int64

In [10]:
# Now we have no null values

In [11]:
df.describe()

             rank  influence_score
count  200.000000       200.000000
mean   100.500000        81.820000
std     57.879185         8.878159
min      1.000000        22.000000
25%     50.750000        80.000000
50%    100.500000        84.000000
75%    150.250000        86.000000
max    200.000000        93.000000

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rank               200 non-null    int64
 1   channel_info       200 non-null    object
 2   influence_score    200 non-null    int64
 3   posts              200 non-null    object
 4   followers          200 non-null    object
 5   avg_likes          200 non-null    object
 6   60_day_eng_rate    200 non-null    object
 7   new_post_avg_like  200 non-null    object
 8   total_likes        200 non-null    object
 9   country            200 non-null    object
dtypes: int64(2), object(8)
memory usage: 15.8+ KB

In [13]:
df.head(4)

,rank,channel_info,influence_score,posts,followers,avg_likes,60_day_eng_rate,new_post_avg_like,total_likes,country
0,1,cristiano,92,3.3k,475.8m,8.7m,1.39%,6.5m,29.0b,Spain
1,2,kyliejenner,91,6.9k,366.2m,8.3m,1.62%,5.9m,57.4b,United States
2,3,leomessi,90,0.89k,357.3m,6.8m,1.24%,4.4m,6.0b,United States
3,4,selenagomez,93,1.8k,342.7m,6.2m,0.97%,3.3m,11.5b,United States

In [14]:
df.tail(3)

,rank,channel_info,influence_score,posts,followers,avg_likes,60_day_eng_rate,new_post_avg_like,total_likes,country
197,198,luansantana,79,0.77k,33.2m,193.3k,0.26%,82.6k,149.2m,Brazil
198,199,nickjonas,78,2.3k,33.0m,719.6k,1.42%,467.7k,1.7b,United States
199,200,raisa6690,80,4.2k,32.8m,232.2k,0.30%,97.4k,969.1m,Indonesia

In [15]:
df['country'].unique()

array(['Spain', 'United States', 'Canada', 'Brazil', 'Netherlands',
       'United Kingdom', 'India', 'Uruguay', 'Turkey', 'Indonesia',
       'Colombia', 'France', 'Australia', 'Italy', 'United Arab Emirates',
       'Puerto Rico', "CÃ´te d'Ivoire", 'Anguilla', 'Switzerland',
       'Sweden', 'British Virgin Islands', 'Czech Republic', 'Mexico',
       'Germany', 'Russia'], dtype=object)

In [16]:
df.nunique()

rank                 200
channel_info         200
influence_score       32
posts                 99
followers            165
avg_likes            135
60_day_eng_rate      147
new_post_avg_like    162
total_likes          116
country               25
dtype: int64